
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="banner-lg block-bg" style="background-image: url('css/skin/slider/banner-about.png')">
    <div class="container d-flex align-items-center h-100">
        <div class="text-banner">
            <h1 class="tt-md text-uppercase">Giới thiệu</h1>
            <nav arial-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" title="" alt="" target="_self">
                            Trang
                            chủ
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a asp-controller="About" asp-action="Index" title="" alt="" target="_self">
                            Giới
                            thiệu
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<main class="mainer">
    <div class="block-bg block-about">
        <div class="container py-3">
            <div class="block w-lg-75 mx-auto">
                <div class="tt-lg tt-ball text-primary">Giới thiệu chung</div>
                <div class="desc mb-3">
                    Với sứ mệnh mang tới cho bạn giấc ngủ ngon và chăm sóc cho tổ ấm của gia
                    đình bạn. Nitecare cùng đội ngũ nhân viên trẻ, nhiệt huyết và tận tâm sẽ giúp bạn trải
                    nghiệm những sản phẩm tuyệt với nhất. Bên cạnh đó, tư vấn tận tình cho bạn hiểu về những lựa
                    chọn tốt nhất cho gia đình mình.
                </div>
            </div>
            <div class="thumb-res wide-sm rounded-4">
                <img class="fit-cover" src="~/css/skin/theme/about-1.png">
            </div>
            <div class="block w-lg-75 mx-auto">
                <div class="row gy-3">
                    <div class="col-md-6 wow fadeIn">
                        <div class="thumb-res square">
                            <img src="~/css/skin/theme/about-2.png">
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeIn">
                        <div class="tt-md">Nitecare!</div>
                        <div class="desc mb-3">
                            <p>
                                Trung thành với chất liệu tự nhiên, sản phẩm của Gazi Home không chứa thành phần
                                tổng hợp, đảm bảo tốt nhất cho sức khỏe cũng như cảm giác của giả đình bạn.
                                Ngoài ra, hầu hết sản phẩm của Gazi đều được mày thủ công, từng chi tiết, đường
                                chỉ đều được chăm chút tỉ mỉ.
                            </p>
                            <p>
                                Mục tiêu của chúng tôi thật ra rất đơn giản: Chất lượng phải được đặt lên trên
                                hết. Chúng tôi chọn foam hiệu suất cao làm chất liệu trọng tâm trong quá trình
                                sản xuất, và cũng là công ty đầu tiên giới thiệu chất liệu này đến thị trường
                                nệm Việt Nam.
                            </p>
                            <p>
                                Foam cho phép chúng tôi kiểm soát và điều chỉnh được độ nâng đỡ, êm ái, đồng
                                thời mở ra cho chúng tôi một không gian vô tận để nghiên cứu và cải tiến sản
                                phẩm để ngày càng nâng tầm chất lượng giấc ngủ cho mọi người.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-bg bg-fixed bg-fixed-blue py-4 py-md-5"
         style="background-image: url('~/css/skin/theme/bg-fixed-2.png');">
        <div class="container justify-content-center d-flex flex-wrap align-items-center">
            <div class="col-6 col-md-4 my-3">
                <div class="text-banner text-center">
                    <div class="tt-xxl text-white">63</div>
                    <div class="desc text-white">Tỉnh thành</div>
                </div>
            </div>
            <div class="col-6 col-md-4 my-3">
                <div class="text-banner text-center">
                    <div class="tt-xxl text-white">1.200+</div>
                    <div class="desc text-white">Giấc ngủ ngon</div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="text-banner text-center">
                    <div class="tt-xxl text-white">5.000+</div>
                    <div class="desc text-white">Khách hàng</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div class="block w-lg-75 mx-auto">
            <div class="row gy-3">
                <div class="col-md-6 wow fadeIn">
                    <div class="tt-md">Nitecare!</div>
                    <div class="desc mb-3">
                        <p>
                            Trung thành với chất liệu tự nhiên, sản phẩm của Gazi Home không chứa thành phần
                            tổng hợp, đảm bảo tốt nhất cho sức khỏe cũng như cảm giác của giả đình bạn.
                            Ngoài ra, hầu hết sản phẩm của Gazi đều được mày thủ công, từng chi tiết, đường
                            chỉ đều được chăm chút tỉ mỉ.
                        </p>
                        <p>
                            Mục tiêu của chúng tôi thật ra rất đơn giản: Chất lượng phải được đặt lên trên
                            hết. Chúng tôi chọn foam hiệu suất cao làm chất liệu trọng tâm trong quá trình
                            sản xuất, và cũng là công ty đầu tiên giới thiệu chất liệu này đến thị trường
                            nệm Việt Nam.
                        </p>
                        <p>
                            Foam cho phép chúng tôi kiểm soát và điều chỉnh được độ nâng đỡ, êm ái, đồng
                            thời mở ra cho chúng tôi một không gian vô tận để nghiên cứu và cải tiến sản
                            phẩm để ngày càng nâng tầm chất lượng giấc ngủ cho mọi người.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeIn">
                    <div class="block block-border">
                        <div class="thumb-res square rounded-4">
                            <img class="fit-cover" src="~/css/skin/theme/about-3.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="block-bg block-customer py-3">
        <div class="container">
            <div class="carousel-logo-o">
                <div class="carousel-logo">
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-2.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-3.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-4.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-5.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
