@model nitecare.ViewModels.UserDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main class="mainer">
    <div class="block-bg block-login">
        <div class="container py-4">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 wow fadeIn">
                    <div class="card-form">
                        <div class="tt-lg tt-icon text-primary text-uppercase fw-medium">Đăng nhập</div>
                        <form class="form-validate material-form" method="post">
                            <div class="row gx-3">
                                <div class="col-12">
                                    <div class="form-group mb-3">
                                        <input asp-for="Email" class="form-control" type="email" required>
                                        <label asp-for="Email" class="label-text">Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-3">
                                        <input asp-for="Password" class="form-control" type="password" required>
                                        <label asp-for="Password" class="label-text">Mật khẩu</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="text-right mb-3">
                                        <a class="text-secondary" alt="" title="" href="forgot">Quên mật khẩu</a>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-secondary w-100 px-4" type="submit">Đăng nhập</button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div class="group-btn-login d-flex align-items-center justify-content-center">
                            <a class="btn btn-login-gg" alt="" title="" href="#"><span class="bi bi-google icon"></span></a>
                            <a class="btn btn-login-gg btn-fb" alt="" title="" href="#"><span class="bi bi-facebook icon"></span></a>
                        </div>
                        <hr>
                        <div class="text-center">
                            <div class="register-link">Bạn chưa có tài khoản?<a alt="" title="" asp-controller="Account" asp-action="Register" >Đăng ký</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-none d-md-block col-md-7 wow fadeIn">
                    <div class="thumb-res square mb-0">
                        <img class="fit-cover" src="~/css/skin/login.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-bg block-customer py-3">
        <div class="container">
            <div class="carousel-logo-o">
                <div class="carousel-logo">
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-2.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-3.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-4.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-5.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
