<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-6 col-lg-3 footer-logo">
                <a class="logo-full">
                    <img class="logo" src="~/css/skin/logo.png">
                </a>
                <div class="list-icon-social d-none d-md-flex">
                    <a class="btn rounded-circle btn-facebook" href="#" title=""
                       alt="" target="_self"><span class="fab fa-facebook-f"></span></a><a class="btn rounded-circle btn-twitter" href="#" title="" alt="" target="_self">
                        <span class="fab fa-twitter"></span>
                    </a><a class="btn rounded-circle btn-youtube" href="#" title="" alt=""
                           target="_self"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
            <div class="footer-col col-md-6 col-lg-3 footer-info">
                <div class="tt-sm">Thông tin</div>
                <div class="icon-flex">
                    <i class="far fa-map-marker-alt"></i>Tầng 2, Toà nhà Vietcomreal Building, Số 68
                    Nguyễn Huệ, Phường Bến Nghé, Quận 1, Tp. HCM
                </div>
                <div class="icon-flex">
                    <i class="far fa-phone fa-flip-horizontal"></i><a href="tel:0855262361" title=""
                                                                      alt="" target="_self">0855262361</a>
                </div>
                <div class="icon-flex">
                    <i class="far fa-globe"></i><a href="www.nitecare.vn" title="" alt=""
                                                   target="_self">www.nitecare.vn</a>
                </div>
                <div class="icon-flex">
                    <i class="far fa-envelope"></i><a href="mailto:info@vigorphar.com" title="" alt=""
                                                      target="_self">info@vigorphar.com</a>
                </div>

            </div>
            <div class="footer-col col-md-6 col-lg-3 footer-menu-list">
                <div class="tt-sm">Công ty</div>
                <ul>
                    <li>
                        <a href="products.html" title="" alt="" target="_self">Sản phẩm</a>
                    </li>
                    <li>
                        <a href="about.html" title="" alt="" target="_self">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="news.html" title="" alt="" target="_self">Kiến thức</a>
                    </li>
                    <li>
                        <a href="feedback.html" title="" alt="" target="_self">Chia sẻ hữu ích</a>
                    </li>
                    <li>
                        <a href="contact.html" title="" alt="" target="_self">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col col-md-6 col-lg-3 footer-menu-list">
                <div class="tt-sm">Chăm sóc khách hàng</div>
                <ul>
                    <li>
                        <a href="#" title="" alt="" target="_self">Hướng dẫn mua hàng</a>
                    </li>
                    <li>
                        <a href="#" title="" alt="" target="_self">Chính sách bảo hành</a>
                    </li>
                    <li>
                        <a href="#" title="" alt="" target="_self">Chính sách vận chuyển</a>
                    </li>
                    <li>
                        <a href="#" title="" alt="" target="_self">Chính sách bảo mật thông tin</a>
                    </li>
                    <li>
                        <a href="#" title="" alt="" target="_self">Chính sách đổi trả</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col d-md-none">
                <div class="tt-sm">Cộng đồng</div>
                <div class="list-icon-social">
                    <a class="btn rounded-circle btn-facebook" href="#" title="" alt=""
                       target="_self"><span class="fab fa-facebook-f"></span></a><a class="btn rounded-circle btn-twitter"
                                                                                    href="#" title="" alt="" target="_self"><span class="fab fa-twitter"></span></a><a class="btn rounded-circle btn-youtube" href="#" title="" alt="" target="_self">
                        <span class="fab fa-youtube"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyr">
        <div class="container-fluid">
            <div class="d-md-flex justify-content-md-center align-items-center">
                <div class="col-left my-2">
                    © 2022 Nitecare. <span class="text-nowrap">All Right Reserved</span>
                </div>
            </div>
        </div>
    </div>
</footer>