@model nitecare.Model.Payment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row mx-5">
    <div class="col-md-6">
        <h3 class="hk-sec-title">Tạo mới phương thức thanh toán</h3>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaymentName" class="control-label"></label>
                <input asp-for="PaymentName" class="form-control" />
                <span asp-validation-for="PaymentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentContent" class="control-label"></label>
                <input asp-for="PaymentContent" class="form-control" />
                <span asp-validation-for="PaymentContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a class="btn btn-dark" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>


