
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="banner-lg block-bg" style="background-image: url('css/skin/slider/banner-cart.png')">
    <div class="container d-flex align-items-center h-100">
        <div class="text-banner">
            <h1 class="tt-md text-uppercase">Giỏ hàng</h1>
            <nav arial-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" title="" alt="" target="_self">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item active"><a asp-controller="Order" asp-action="Index" title="" alt="" target="_self">Giỏ hàng</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<main class="mainer">
    <div class="block-bg">
        <div class="container py-5">
            <div class="row gy-3">
                <div class="col-md-7 col-lg-8">
                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                        <div class="tt-icon text-primary tt-lg fw-medium">Sản phẩm của bạn</div>
                        <div class="desc text-desc text-right mb-4">
                            <span id="countItem"></span>
                            <span> sản phẩm</span>
                        </div>
                    </div>
                    <div id="cartItemsList">
                        @*script list item*@
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="block-color block-cart">
                        <div class="d-sm-flex justify-content-between mb-3">
                            <div class="tt-ball tt-xs text-primary fw-medium">Đơn hàng</div>
                            @*<div class="text-desc">#12345</div>*@
                        </div>
                        <div class="d-flex align-items-start justify-content-between mb-3">
                            <div class="tt text-body fw-medium">Thành tiền</div>
                            <div class="right text-right">
                                <div class="price-origin fs-24 fw-medium" id="totalOrder"><u>đ</u></div>
                                <div class="text-desc">(Giá trên chưa tính phí vận chuyển và VAT)</div>
                            </div>
                        </div>
                        <div class="text-center mb-3">
                            <a class="btn btn-secondary w-100" alt="" title="" href="#" onclick="CheckCountCart()">Mua hàng</a>
                        </div>
                        <div class="block block-note">
                            <div class="text-center">
                                Lưu ý: Sau khi thanh toán thành công, nếu bạn không nhận được e-mail xác
                                nhận đơn hàng, bạn vui lòng liên hệ với Nitecare qua số hotline:
                                <div class="fw-medium fs-24">0912 345 678</div>
                                để được hỗ trợ ngay nhé!
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="block-bg block-customer py-3">
        <div class="container">
            <div class="carousel-logo-o">
                <div class="carousel-logo">
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="css/skin/Company logo/Company logo.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="css/skin/Company logo/Company logo-2.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="css/skin/Company logo/Company logo-3.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="css/skin/Company logo/Company logo-4.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="css/skin/Company logo/Company logo-5.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script src="~/localstorage/function.js"></script>
    <script>
        function GetProductData(productId) {
            $.ajax({
                type: "GET",
                async: true,
                url: '/Product/GetProductById',
                dataType: 'JSON',
                data: { productId: productId },
                success: function (product) {
                    const cartItemDiv = document.querySelector(`.tt[data-productId="${productId}"]`);
                    if (cartItemDiv) {
                        cartItemDiv.textContent = product.productName;
                    }
                    // Update the src attribute of the <img> element
                    const imgElement = cartItemDiv.closest('.cart--item').querySelector('.thumb-res.square img');
                    imgElement.src = "/product/" + product.productImage;
                },
                error: function () {
                    alert("error");
                }
            })
        }
        function IncreaseQuantity(productId, quantity) {
            quantity++;
            UpdateToCartOnOrder(productId, quantity);
        }
        function DecreaseQuantity(productId, quantity) {
            if (quantity > 1) {
                quantity--;
                UpdateToCartOnOrder(productId, quantity);
            }
            else {
                RemoveCart(productId);
            }
        }
        // Retrieve the cart items
        var cartItems = GetCarts();
        var count = cartItems.length;
        var countItem = document.getElementById('countItem');
        countItem.textContent = count;
        function CheckCountCart() {
            if (count > 0) {
                location.href = "/order"
            } else {
                location.href = "/cart"
            }
        }

        // Get the reference to the <div> element with id "cartItemsList"
        var cartItemsList = document.getElementById('cartItemsList');

        // Clear any existing items in the list
        cartItemsList.innerHTML = '';
        // Loop through the cart items and create HTML elements to display the values
        var total = 0;
        cartItems.forEach(function (item) {
            total = parseFloat(total) + parseFloat(item.price * item.quantity);
            GetProductData(item.productId);
            // Create a new <div> element with class "row cart--item"
            var cartItemDiv = document.createElement('div');
            cartItemDiv.classList.add('row', 'cart--item');

            // Create the inner HTML structure for the cart item
            cartItemDiv.innerHTML = `
                                                            <div class="cell cell-del">
                                                              <a class="btn-del" alt="" title="" onclick="RemoveCart(${item.productId})" > <span class="fal fa-times"></span></a>
                                                            </div>
                                                            <div class="cell cell-img">
                                                              <div class="thumb-res square">
                                                                  <img >
                                                              </div>
                                                            </div>
                                                            <div class="cell cell-info">
                                                              <div class="tt fw-medium" data-productId="${item.productId}"></div>
                                                              <div class="row gy-3 align-items-center">
                                                                 <div class="col-4">
                                                                     <div class="info">
                                                                         Màu
                                                                     </div>
                                                                 </div>
                                                              <div class="col-8">
                                                                <div class="color">
                                                                   <span class="ball" style="--color-ball:#ECC2C7;"></span>Hồng đất
                                                                </div>
                                                              </div>
                                                              <div class="col-4">
                                                                 <div class="info">
                                                                     Kích thước
                                                                  </div>
                                                              </div>
                                                              <div class="col-8">
                                                                <div class="size">
                                                                     M - 73cm x 63cm x 22cm
                                                                </div>
                                                              </div>
                                                                <div class="col-4">
                                                                  <div class="info">
                                                                    Số lượng
                                                                  </div>
                                                                </div>
                                                                <div class="col-8">
                                                                  <div class="form-quantity">
                                                                    <input class="form-control" type="text" value="${item.quantity}">
                                                                    <a class="control-down fa fa-minus" role="button" onclick="DecreaseQuantity(${item.productId},${item.quantity})"></a>
                                                                    <a class="control-up fa fa-plus" role="button" onclick="IncreaseQuantity(${item.productId},${item.quantity})"></a>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="cell cell-price">
                                                              <div class="price-origin">${item.price}<u>đ</u></div>
                                                              <del class="price-sale">${item.originalPrice}<u>đ</u></del>
                                                            </div>
                                                      `;

            // Append the cart item <div> to the cartItemsList <div>
            cartItemsList.appendChild(cartItemDiv);

        });
        var TotalOrder = document.getElementById('totalOrder');
        TotalOrder.textContent = total;
    </script>

}