@model IEnumerable<nitecare.Model.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="banner-lg block-bg" style="background-image: url('css/skin/slider/banner-cart.png')">
    <div class="container d-flex align-items-center h-100">
        <div class="text-banner">
            <h1 class="tt-md text-uppercase">Sản phẩm</h1>
            <nav arial-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" title="" alt="" target="_self">
                            Trang
                            chủ
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Product" asp-action="Index" title="" alt="" target="_self">
                            Sản
                            phẩm
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<main class="mainer">
    <div class="block-bg">
        <div class="container py-5">
            <div class="block-sidebar" data-wrapper>
                <div class="mainbody mb-4 mb-md-0 order-md-2" data-mainbody>
                    <div class="block-bg mb-5">
                        <div class="tt-lg tt-icon text-primary fw-medium">Gối Cao Su</div>
                        <div class="list-products row row-cols-2 row-cols-sm-3 row-cols-md-2 row-cols-lg-3 g-3">
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="list-badge">
                                        <div class="badge badge-hot">HOT</div>
                                        <div class="badge badge-new">NEW</div>
                                        <div class="badge badge-discount">-10%</div>
                                    </div>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-1.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                            <del class="price-sale">
                                                1.550.000<u>đ</u>
                                            </del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-2.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-1.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="list-badge">
                                        <div class="badge badge-hot">HOT</div>
                                        <div class="badge badge-new">NEW</div>
                                        <div class="badge badge-discount">-10%</div>
                                    </div>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-1.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                            <del class="price-sale">
                                                1.550.000<u>đ</u>
                                            </del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="list-badge">
                                        <div class="badge badge-hot">HOT</div>
                                        <div class="badge badge-new">NEW</div>
                                        <div class="badge badge-discount">-10%</div>
                                    </div>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-2.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                            <del class="price-sale">
                                                1.550.000<u>đ</u>
                                            </del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-1.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="list-badge">
                                        <div class="badge badge-hot">HOT</div>
                                        <div class="badge badge-new">NEW</div>
                                        <div class="badge badge-discount">-10%</div>
                                    </div>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-1.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                            <del class="price-sale">
                                                1.550.000<u>đ</u>
                                            </del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-2.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-1.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="list-badge">
                                        <div class="badge badge-hot">HOT</div>
                                        <div class="badge badge-new">NEW</div>
                                        <div class="badge badge-discount">-10%</div>
                                    </div>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-1.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                            <del class="price-sale">
                                                1.550.000<u>đ</u>
                                            </del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-2.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col wow fadeIn">
                                <div class="block">
                                    <a class="absolute" alt="" title="" href="products-detail.html"></a>
                                    <div class="thumb-res square">
                                        <img src="~/css/skin/products/products-1.png">
                                    </div>
                                    <div class="info">
                                        <div class="tt">
                                            Bộ Gối Chống Trào Ngược Người Lớn Casalaa Cao Cấp Size L
                                        </div>
                                        <div class="price">
                                            <div class="price-origin">
                                                950.000<u>đ</u>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="pagination justify-content-center my-45">
                            <div class="page-item prev">
                                <a href="#" title="" alt="" target="_self">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </div>
                            <div class="page-item active">
                                <a class="page-counter" alt="" title="" href="#">1</a>
                            </div>
                            <div class="page-item">
                                <a class="page-counter" alt="" title="" href="#">2</a>
                            </div>
                            <div class="page-item">
                                <a class="page-counter" alt="" title="" href="#">...</a>
                            </div>
                            <div class="page-item">
                                <a class="page-counter" alt="" title="" href="#">9</a>
                            </div>
                            <div class="page-item">
                                <a class="page-counter" alt="" title="" href="#">10</a>
                            </div>
                            <div class="page-item next">
                                <a href="#" title="" alt="" target="_self">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="sidebar order-md-1" data-sidebar>
                    <div data-stick data-width-fill>
                        <div class="pane pane-menu pane-menu-products mb-4">
                            <div class="tt-sm tt-ball text-primary">Danh mục</div>
                            <ul class="menu-vertical">
                                <li class="active">
                                    <a href="products.html" title="" alt="" target="_self">
                                        Gối
                                        trào ngược dạ dày
                                    </a>
                                    <ul class="menu-vertical-sub">
                                        <li class="active">
                                            <a href="products.html" title="" alt=""
                                               target="_self">Gối cao su</a>
                                        </li>
                                        <li>
                                            <a href="products.html" title="" alt="" target="_self">Gối gòn</a>
                                        </li>
                                        <li>
                                            <a href="products.html" title="" alt="" target="_self">
                                                Gối kháng
                                                khuẩn
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="products.html" title="" alt="" target="_self">
                                        Gối giãn tĩnh mạch
                                        chân
                                    </a>
                                    <ul class="menu-vertical-sub">
                                        <li>
                                            <a href="products.html" title="" alt="" target="_self">
                                                Gối cao
                                                su
                                            </a>
                                        </li>
                                        <li>
                                            <a href="products.html" title="" alt="" target="_self">Gối gòn</a>
                                        </li>
                                        <li>
                                            <a href="products.html" title="" alt="" target="_self">
                                                Gối kháng
                                                khuẩn
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="products.html" title="" alt="" target="_self">
                                        Gối trào ngược dạ
                                        dày
                                    </a>
                                    <ul class="menu-vertical-sub">
                                        <li>
                                            <a href="products.html" title="" alt="" target="_self">
                                                Gối cao
                                                su
                                            </a>
                                        </li>
                                        <li>
                                            <a href="products.html" title="" alt="" target="_self">Gối gòn</a>
                                        </li>
                                        <li>
                                            <a href="products.html" title="" alt="" target="_self">
                                                Gối kháng
                                                khuẩn
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="products.html" title="" alt="" target="_self">
                                        Gối giãn tĩnh mạch
                                        chân
                                    </a>
                                    <ul class="menu-vertical-sub">
                                        <li>
                                            <a href="products.html" title="" alt="" target="_self">
                                                Gối cao
                                                su
                                            </a>
                                        </li>
                                        <li>
                                            <a href="products.html" title="" alt="" target="_self">Gối gòn</a>
                                        </li>
                                        <li>
                                            <a href="products.html" title="" alt="" target="_self">
                                                Gối kháng
                                                khuẩn
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="pane bannerqc mb-3">
                            <a class="block" href="#" title="" alt=""
                               target="_self"><img src="~/css/skin/theme/qc.png" alt="" /></a>
                        </div>
                        <div class="pane bannerqc mb-3">
                            <a class="block" href="#" title="" alt=""
                               target="_self"><img src="~/css/skin/theme/qc-2.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-bg block-customer py-3">
        <div class="container">
            <div class="carousel-logo-o">
                <div class="carousel-logo">
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-2.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-3.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-4.png">
                        </a>
                    </div>
                    <div class="carousel-cell">
                        <a class="thumb-res wide-sm" alt="" title="" href="#">
                            <img src="~/css/skin/Company logo/Company logo-5.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
