@model IEnumerable<nitecare.Model.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Container -->
<div class="container-fluid px-lg-4">

    <div class="row">
        <div class="col-xl-12">
            <p>
                <a class="btn btn-info my-4" asp-action="Create">Add new role</a>
            </p>
            
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Danh sách quyền truy cập</h5>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            <table class="table tablesaw table-bordered table-hover  mb-0" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                                <thead>
                                    <tr>
                                        <th scope="col" data-tablesaw-sortable-col>RoleId</th>
                                        <th scope="col" data-tablesaw-sortable-col>RoleName</th>
                                        <th scope="col" data-tablesaw-sortable-col>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.RoleId</td>
                                                <td>@item.RoleName</td>

                                                <td>
                                                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.RoleId">Edit</a>
                                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
</div>
